{% extends 'base.html' %}
{% block title %}Склад{% endblock %}

{% block header %}
<center>Склад</center>
{% endblock %}


{% block content %}
<div><a onclick="javascript:history.back(); return false;">Вернуться на главную странице</a></div>

    <div>
        {% for p in prod %}
            <p>{{p.name}} |
            {{p.category}} |
            {{p.text}} |
            {{p.quantity}} |
            {{p.condractor_on_stock.company}} | </p>
        {% endfor %}
    </div>
{% endblock %}


{% block footer %}
{% endblock %}