{% extends 'base.html' %}
{% block title %}Склад{% endblock %}

{% block header %}
<center>Склад</center>
{% endblock %}


{% block content %}
<div><a onclick="javascript:history.back(); return false;">Вернуться на главную странице</a></div>
    <div>
        {% for p in prod %}
            <p>{{p.name}} |
            {{p.category}} |
            {{p.text}} |
            {{p.quantity}} |
            {{p.condractor_on_stock.company}} |<a href="/product_update/{{p.id}}">Редактировать товар</a> |
                | <a href="/delete_prod/{{p.id}}">Удалить</a>
        {% endfor %}
    </div>
<div>
    <p><a href="{% url 'product' %}"> добавить товар</a></p>
</div>
{% endblock %}


{% block footer %}
{% endblock %}